<!CTYPE html>
<html lang="zh">
    <head>
		{% load static %}
        <meta charset="utf-8" />
        <title>Notebook</title>
        <link rel="stylesheet" href="{% static "assets/css/ace.min.css" %}" class="ace-main-stylesheet" id="main-ace-style" />
        <link rel="stylesheet" href="{% static "/editor.md-master/examples/css/style.css" %}" />
        <link rel="stylesheet" href="{% static "/editor.md-master/css/editormd.css" %}" />
    </head>
    <body>
        <div id="layout">
            <div id="test-editormd">
                <textarea style="display:none;"></textarea>
            </div>
        </div>
        <div align="right">
            <button type="button" class="btn btn-success" onclick="saveText()">保存</button>
        </div>
        <script src="{% static "/editor.md-master/examples/js/jquery.min.js" %}"></script>
        <script src="{% static "/editor.md-master/editormd.min.js" %}"></script>
        <script type="text/javascript">
			var testEditor;

			function saveText(){
			    $.ajax({
                    type:"POST",
                    url:"/tools/notebook/save",
                    data:{
                        text:testEditor.getMarkdown(),
                        html:testEditor.getHTML(),
                    },
                    success:function (data) {
                        alert(data);
                    }
                });
            }

            $(function() {
                testEditor = editormd("test-editormd", {
                    width   : "100%",
                    height  : $(window).height()*0.9,
                    syncScrolling : "single",
                    flowChart : true,
		            sequenceDiagram : true,
		            codeFold : true,
		            emoji : true,
                    saveHTMLToTextarea : true,
                    path    : "{% static "/editor.md-master/lib/" %}"
                });

            });
        </script>
    </body>
</html>